.card_container {
    width: 200px;
    height: 400px;
    margin: 16px;
    border-radius: 8px;
    background-color: rgb(230, 222, 214);
    padding: 8px;
}
.card_image {
    width: 128px;
    height: 180px;
    border-radius: 8px;
    margin: 8px 36px 0 36px;
}
.card_category {
    height: 16px;
    text-decoration: underline;
    font-size: 12px;
    color: rgb(158, 156, 151);
    text-align: center;
}
.card_title {
    color: #000;
    height: 60px;
    margin-top: 24px;
    font-size: 100%;
}
.card_authors {
    height: 16px;
    text-decoration: underline;
    font-size: 12px;
    color: rgb(158, 156, 151);
    text-align: start;
}